html {
  --color-white: #f8f8f8;
  --color-black: #000;
  --color-primary: #e5c116;
  --color-secondary: #1d76c4;
  --color-background: #05161f;

  overflow: auto;
}

body {
  font: 16px 'Ubuntu', sans-serif;
  color: var(--color-white);
  margin: 0;
  overflow: hidden;
  background: var(--color-background);
}
